# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# PyInstaller
build/
dist/
*.spec~

# Logs
*.log

#Sprites
/public/assets/sprites/

# Web application
node_modules/
web/node_modules/
web/dist/
web/.vite/
web/.env
web/.env.local

Defensive Spread Optimizer.spec
Defensive-Spread-Optimizer-v1.0.0-macOS.zip
Defensive-Spread-Optimizer-v1.1.0-macOS.zip