# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# PyInstaller
build/
dist/
*.spec~

# Logs
*.log

#Sprites
/public/assets/sprites/

# Web application
web/node_modules/
web/dist/
web/.vite/
web/.env
web/.env.local